#banner {
  min-height: 500px;
  padding: 0;
  .row {
    min-height: 500px;
    display: flex;
    justify-content: start;
    align-items: end;
    .box {
      padding: 0;
      margin: 0;
      h1 {
        font-size: 4.5vw;
        font-weight: 700;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      p {
        line-height: 1.5;
        margin-bottom: 2rem;
      }
      button {
        margin-bottom: 4rem;
        &:hover {
          background-color: transparent;
          color: black;
        }
      }
      .brands {
        img {
          margin-right: 1rem;
        }
      }
      .right-side-img {
        min-width: 300px;
        width: 60%;
        margin: 0 auto;
        display: block;
      }
    }
  }
  @include media(768px) {
    .row {
      .box {
        h1 {
          text-align: center;
          br {
            display: none;
          }
        }
        p {
          text-align: center;
        }
        button {
          display: block;
          margin: 4rem auto;
        }
        .brands {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;
        }
        .right-side-img {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
